<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Help page</title>
    </head>
    <body>
        {{> header}} 
        <p>{{screamIt welcomeMessage}}</p> 
        {{!-- asa se transmit parametri. Daca voiam sa transmitem mai multi parametri, ii trimiteam cu spatiu intre ei(nu cu virgula).--}}
        <p>Some text here</p>
        {{> footer}}
    </body>
</html>