<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Mantenance page</title>
    </head>
    <h1>
        <p>The site is currently being updated. We will be back soon</p>
        
    </h1>>
</html>